.background {
  background-image: linear-gradient(#000000, #08292d);
}

.logo {
  /* max 1280x400, padding-top: 25% */
  background-image: url(logo.png);
  background-size: auto 30%;
}

.progressBar {
  background-color: #26C6DA;
}

.splash {
  /* max 1280x400, padding-top: 25% */
  background-image: url(splash.png);
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}
